<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stark.coderaider.titan.gate.core.dao.BusinessSystemMapper">
    <resultMap id="BaseResultMap" type="stark.coderaider.titan.gate.core.domain.entities.mysql.BusinessSystem">
        <id column="id" property="id"/>
        <result column="creator_id" property="creatorId"/>
        <result column="creation_time" property="creationTime"/>
        <result column="modifier_id" property="modifierId"/>
        <result column="modification_time" property="modificationTime"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        SELECT `id`, `creator_id`, `creation_time`, `modifier_id`, `modification_time`,
               `code`, `name`, `description`
        FROM `business_system` WHERE `id` = #{id}
    </select>

    <select id="existsByCodeOrName" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM `business_system`
            WHERE `code` = #{code}
            OR `name` = #{name}
        )
    </select>

    <select id="getByCode" resultMap="BaseResultMap">
        SELECT `id`, `creator_id`, `creation_time`, `modifier_id`, `modification_time`,
               `code`, `name`, `description`
        FROM `business_system` WHERE `code` = #{code}
    </select>

    <select id="getByCodes" resultMap="BaseResultMap">
        SELECT `id`, `creator_id`, `creation_time`, `modifier_id`, `modification_time`,
               `code`, `name`, `description`
        FROM `business_system` WHERE `code` IN
        <foreach item="code" collection="codes" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

    <select id="getBusinessSystems" resultMap="BaseResultMap">
        SELECT `id`, `creator_id`, `creation_time`, `modifier_id`, `modification_time`,
               `code`, `name`, `description`
        FROM `business_system`
        WHERE `code` LIKE CONCAT('%', #{code}, '%')
        OR `name` LIKE CONCAT('%', #{name}, '%')
        <if test="limit != null and limit > 0">
            LIMIT #{limit}
        </if>
        <if test="offset != null and offset >= 0">
            OFFSET #{offset}
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `business_system` (`creator_id`, `modifier_id`, `code`, `name`, `description`)
        VALUES (#{creatorId}, #{modifierId}, #{code}, #{name}, #{description})
    </insert>

    <update id="updateById">
        UPDATE `business_system`
        SET `name` = #{name},
            `description` = #{description},
            `modifier_id` = #{modifierId}
        WHERE `id` = #{id}
    </update>

    <delete id="deleteByIds">
        DELETE FROM `business_system` WHERE `id` IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getByIds" resultMap="BaseResultMap">
        SELECT `id`, `creator_id`, `creation_time`, `modifier_id`, `modification_time`,
               `code`, `name`, `description`
        FROM `business_system` WHERE `id` IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>